@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.css" rel="stylesheet" />
}

<h2>Index</h2>

<div id="calendar"></div>
<div id="myModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js"></script>

    <script>
        $(document).ready(function () {

            var events = [];
            $.ajax({
                type: "GET",
                url: "/CalendarEvent/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Subject,
                            description: v.Description,
                            start: moment(v.Start).format("YYYY-MM-DD hh:mm:ss"),
                            //start: "2019-10-03",
                            end: v.End != null ? moment(v.End).format("YYYY-MM-DD hh:mm:ss") : null,
                            color: v.Color,
                            allDay: v.IsFullDay
                        });
                    })
                    console.log(events);
                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed');
                }

            })

            function GenerateCalendar(events) {
                //$('#calendar').fullCalendar('destroy');
                console.log(events);
                var calendarEl = document.getElementById("calendar");
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['dayGrid'],
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month, basicWeek, basicDay, agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    //var Myevent = document.getElementById("myModel").text(calEvent.title)
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModel #eventTitle').text(calEvent.title);
                        var $description = $('<div />');
                        $description.append($('<p />').html('<b>Start:</b>' + calEvent.start.format("YYYY-MM-DD hh:mm:ss")));
                        if (calEvent.end != null) {
                            $description.append($('<p />').html('<b>End:</b>' + calEvent.end.format("YYYY-MM-DD hh:mm:ss")));
                        }
                        $description.append($('</p>').html('<b>End:</b>' + calEvent.description));
                        $('#myModel #pDetails').empty().html($description);
                        $('#myModel').modal();
                    }
                    //[
                    //    {
                    //        title: 'All Day Event',
                    //        start: '2019-09-01'
                    //    },
                    //    {
                    //        title: 'Long Event',
                    //        start: '2019-09-07',
                    //        end: '2019-09-10'
                    //    }]
                });
                

                calendar.render();
            }
        });
    </script>

}